models/BERT/emotion/bert_emotion_model_overfitted
models/BERT/emotion/bert_emotion_model

models/BERT/sentiment/bert_sentiment_model_overfitted
models/BERT/sentiment/bert_sentiment_model

models/BERT/multitasking/bert_multitasking_model_overfitted
models/BERT/multitasking/bert_multitasking_model_full_overfitted
models/BERT/multitasking/bert_multitasking_model
models/BERT/multitasking/bert_multitasking_model_full

models/GRU/sentiment/GRU_sentiment_model
models/GRU/emotion/GRU_emotion_model
models/GRU/multitasking/GRU_multitask_model

models/LSTM/sentiment/LSTM_sentiment_model
models/LSTM/emotion/LSTM_emotion_model
models/LSTM/multitasking/LSTM_multitask_model

models/SVM/sentiment/SVM_sentiment_model
models/SVM/emotion/SVM_emotion_model
